<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="Catch all into index.php" patternSyntax="Wildcard">
                    <match url="*/" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Redirect rule1 for /alert/" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{/alert/:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="AbortRequest" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="/alert/" defaultValue="" />
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>
